* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: tomato;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    background-color: lightgreen;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    background-color: blueviolet;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    font-size: 24px;
    text-align: center;
}